* {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 1px solid slategrey;
}

.main-store {
  display: flex;
  margin-top: 52.8px;
}

.store-gallery {
  margin-left: 15vh;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  height: calc(100vh - 52.8px);
  border-right: 2px solid black;
  box-shadow: 2px 2px 2px gray;
  width: 15vh;
}

.sidebar h2 {
  text-align: center;
}

.total {
  margin-left: 1.5vh;
  text-decoration: underline;
}

.store-gallery {
  display: flex;
  height: 50vh;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input {
  border-radius: 0px;
  border: 3px solid black;
  width: 35vh;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 3vh;
}

button {
  font-size: 1rem;
  width: 95%;
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 0px;
}

.buttons {
  margin-top: auto;
  margin-bottom: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.empty-cart {
  background-color: red;
  color: black;
}
.empty-cart:hover {
  background-color: white;
}

.check-out {
  color: black;
  background-color: transparent;
  border: 2px solid black;
}

.check-out:hover {
  background-color: black;
  color: white;
}

.store-items {
  display: grid;
  height: 100vh;
  width: 85%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  margin-top: 5vh;
  row-gap: 10vh;
}

.cap {
  width: 20vh;
  height: 20vh;
}

img {
  width: 100%;
  height: 100%;
}

.nameAndPrice {
  display: flex;
  justify-content: space-between;
}

.addToCart {
  background-color: black;
  color: white;
  width: 20vh;
}

.cart-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-cap {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
}

.cart-cap-info {
  display: flex;
  justify-content: space-around;
}

.cart-cap-quantity {
  display: flex;
  width: 5vh;
  align-items: center;
}

.cart-cap-quantity button {
  color: black;
  background: none;
  height: 2vh;
}
